/*
==================================
PARTIE CSS DE LA SECTION : HEADING 
==================================
*/
.heading{
    margin: 3rem 0;
}
/*
======================================
PARTIE CSS DE LA SECTION : INFORMATION
======================================
*/
.information{
    display: flex;
    justify-content: center;
    align-items: center; 
}
table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--color-brown-dark);
    color: white;
}
table td, table th {
    border: 1px solid var(--color-light);
    padding: 1rem;
}
table tr:nth-child(even){
    background-color: var(--color-brown-light);
} 
table tr:hover {
    background-color: var(--color-light);
}
.active{
    display: flex !important;
}
#addFood{
    width: 20rem;
}