/*
=========================================
======== SECTION CONTAINER HEADER =======
=========================================
*/
.container-header{
    background: url(/assets/img/background/bg-beans.jpg) no-repeat center center / cover !important;
}
/*
========================================
=============== LEGEND =================
========================================
*/
.container-legend{
    width: 80%;
    margin: auto auto;
    margin-bottom: 3rem;
}
.container-legend .legend{
    display: flex;
    margin-bottom: 0.5rem;
}
.color{
    width: 20px;
    height: 20px;
    border: var(1px solid color-dark);
    margin-right: 0.5rem;
}
.color-no-coffee{
    background-color: #d9ccbc;
}
.color-coffee{
    background-color: #9d8a78;
}
/*
================================
PARTIE CSS DE LA SECTION : BEANS
================================
*/
.section-beans{
    background-color: var(--color-light);
    max-width: 80%;
    margin: 3rem auto;
    padding: 3rem;
}
.section-beans .container-beans{
    display: flex;
    width: 100%;
}
.beans{
    width: 50%;
    padding: 1rem;
    background-color: var(--color-grey);
}
.description{
    width: 50%;
    padding: 1rem;
    background-color: var(--color-light-brown);
}
.section-beans h2{
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: var(--font-serif);
    text-transform: uppercase;
}
.section-beans .beans div{
    margin: 1rem 0;
}
.section-beans h3{
    margin: 0 0 1rem;
    font-size: 1rem;
    font-family: var(--font-serif);
    text-transform: uppercase;
    color: var(--color-red);
}

.visibility{
    display: none;
}
.active{
    display: block !important;
}