/*
==================================================
================ CONTAINER LEGEND ================
==================================================
*/
.container-legend{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 150px;
    margin: 5rem auto;
}   
/* ========== CONTAINER LEGEND COLOR ========== */
.container-legends-color{
    width: 30%;
    height: 110px;
    padding: 1rem;
    border-right: 1px solid var(--color-dark);
}
.legend{
    display: flex;
    margin-bottom: 0.5rem;
}
.color{
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}
.color-no-coffee{
    background-color: var(--color-dark-brown);
}
.color-coffee{
    background-color: #9d8a78;
}
.color-available{
    background-color: var(--color-red);
}

/* ========== CONTAINER LEGEND TEXT ========== */
.container-legends-text{
    width: 70%;
    height: 150px;
    padding: 1rem;
}
.container-legends-text h2{
    font-family: var(--font-serif);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}



