/*
========================================
============ CONTAINER EVENT ===========
========================================
*/
.container-event{
    width: 1050px;
    margin: 3rem auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 500px);
}
.event{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-event{
    width: 500px;
    height: 500px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-dark-brown);
}
.heading{
    padding: 1rem 0 !important;
}
.img-event {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-event{
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.text-event{
    margin: 1rem;
    height: 180px;
    width: 400px;
    text-align: left;
}
button{
    margin-top: 1rem;
}

/*
========================================
============ MEDIAS QUERIES ============
========================================
*/
@media only screen and (min-width: 2000px) {
    .container-event{
        width: 1550px;
        grid-template-columns: repeat(3, 1fr);
    }
}