/*
==================================================
============= SECTION CONTAINER-CARD =============
==================================================
*/
.container-card {
    display: grid;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 400px;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.container-card .card{
    width: 350px;
    height: 350px;
}
.container-card img{
    width: 350px;
    height: 200px;
}
.container-card h2{
    font-family: var(--font-serif);
    margin: 1rem 0;
    color: var(--color-red);
}
.container-card span{
    color: var(--color-dark);
}

/*
==================================================
============= SECTION PARALLAX EFFECT ============
==================================================
*/
.parallax{
    background: url('/assets/img/background/bg-section.jpg') no-repeat center center / cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: 5rem 0;
}
.parallax::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 700px;
    z-index: 0;
    background: var(--overlay);
}
.parallax .text-parallax{
    position: relative;
    z-index: 1;
    width: 50%;
    margin: 0 5rem;
    line-height: 4rem;
}
.parallax .text-parallax h2{
    font-family: var(--font-serif);
    color: var(--color-light);
    font-size: 4rem;
    text-transform: uppercase;
}
.parallax .text-parallax span{
    font-size: 2.5rem;
}
.parallax .text-parallax p{
    font-family: var(--font-serif);
    color: var(--color-light);
    font-size: 1.5rem;
    margin: 1rem 0;
}
.parallax .container-btn{
    display: flex;
}
.parallax .container-btn button{
    width: 15rem !important;
    margin-right: 1rem;
}
/*
==================================================
============== SECTION PRESENTATION ==============
==================================================
*/
.container-presentation{
    background-color: var(--color-light);
    display: flex;
    max-width: 80%;
    max-height: 600px;
    margin: 10rem auto;
}
.container-presentation .img-presentation{
    width: 50%;
}
.container-presentation .img-presentation img{
    width: 100%;
    height: 600px;
}
.container-presentation .text-presentation{
    width: 50%;
    padding: 3rem;
    position: relative;
    justify-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;

}
.container-presentation .text-presentation h2{
    font-size: 1.5rem;
    font-family: var(--font-serif);
    text-transform: uppercase;

}
.container-presentation .text-presentation p{
    font-size: 1rem;
    margin: 3rem 0;
    height: 250px ;
}
.container-presentation .text-presentation .container-btn{
    display: flex;
}
.container-presentation .text-presentation .container-btn button{
    margin-right: 1rem;

}
/*
==================================================
================ CONTAINER CONTACT ===============
==================================================
*/
.container-contact{
    width: 100%;
    height: 800px;
    background-color: var(--color-light-brown);
}
/*
==================================================
=============== CONTAINER PERSONNEL ==============
==================================================
*/
.container-personnel{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-personnel .card-presentation {
    width: 350px;
    height: 480px;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 1rem;
    background: var(--color-light);
}
.container-personnel .card-presentation * {
    transition: 0.3s ease all;
}
.container-personnel .card-presentation img {
    width: 500px;
    height: 400px;
    object-fit: cover;
    display: block;
}
.container-personnel .card-presentation h3 {
    padding: 1rem 1rem;
    font-family: var(--font-serif);
    color: var(--color-red);
    font-size: 2rem;
}
.container-personnel .card-presentation .focus-content {
    display: block;
    padding: 8px 12px;
}
.container-personnel .card-presentation p {
    margin: 0;
    line-height: 1.5;
}
.container-personnel .card-presentation:hover img, .card-presentation:focus-within img {
    margin-top: -40%;
}
.container-personnel .card-presentation:hover h3, .card-presentation:focus-within h3 {
    padding: 8px 12px 0;
}
 .contact{
    display: none;
    margin-top: 5rem;
}