/*
========================================
============ SECTION BUTTON ============
========================================
*/
.command-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.command-btn button{
    width: 15rem !important;
    margin: 0 1rem;
}
/*
========================================
============= CONTAINER MENU ===========
========================================
*/
.container-menu{
    display: flex;
    width: 80%;
    background-color: var(--color-light);
    padding-bottom: 3rem;
    margin: 3rem auto;
}
/*
========================================
================= MENU =================
========================================
*/
.menu{
    width: 100%;
    margin: 0 auto;
    display: none;
}
.heading h2{
    font-size: 3rem;
}
.container-product{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.img-product{
    border-radius: 50%;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-dark);
}
.menu1 img,
.menu2 img{
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
}
.menu3 img{
    object-fit: cover;
    width: 100px;
    height: 150px;
    margin-right: 1rem;
}
.text-product{
    display: flex;
}
.description{
    width: 300px;
}
.price{
    display: flex;
    float: right;
}
.line{
    background-color: var(--color-light-brown);
    width: 100px ;
    height: 3px;
    margin: auto 0;
}
.price p{
    background: var(--color-light-brown);
    width: 100px;
    height: 30px;
    text-align: center;
    margin: auto 0;
    line-height: 30px;
}
/*
========================================
============== DYNAMISE JS =============
========================================
*/
.active{
    display: block !important;
}