/*
=========================================
======== SECTION CONTAINER HEADER =======
=========================================
*/
.container-header{
    background: url(/assets/img/background/bg-menu.jpg) no-repeat center center / cover !important;
}
/*
============================
====== SECTION HEADING =====
============================
*/
.heading p:nth-child(2){
    color: var(--color-dark-brown);
}
/*
========================================
============ SECTION BUTTON ============
========================================
*/
.command-btn{
    padding: 3rem 0;
    background-color: var(--color-light-brown);
    display: flex;
    justify-content: center;
    align-items: center;
}
.command-btn .btn{
    display: flex;
    margin: 0 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: var(--color-light);
}
.command-btn .btn img{
    width: 80px;
    height: 80px;
}
.command-btn .btn .btn-text{
    font-family: var(--font-serif);
    color: var(--color-dark);
}
.command-btn .btn .btn-text span{
    color: var(--color-red);
}
/*
========================================
================== MAIN ================
========================================
*/
main{
    display: flex;
    width: 100%;
    background-color: var(--color-light-brown);
    padding-bottom: 3rem;
}
/*
========================================
================= MENU =================
========================================
*/
.menu{
    width: 100%;
    margin: 0 auto;
    display: none;
}
.menu .heading h2{
    font-size: 3rem;
}
.container-product{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.container-product .product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.menu1 .container-product .product img,
.menu2 .container-product .product img{
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
}
.menu3 .container-product .product img{
    object-fit: cover;
    width: 100px;
    height: 150px;
    margin-right: 1rem;
}
.container-product .product .text-product{
    display: flex;
}
.container-product .product .description{
    width: 300px;
}
.container-product .product .price{
    display: flex;
    float: right;
}
.container-product .product .line{
    background-color: var(--color-light);
    width: 100px ;
    height: 3px;
    margin: auto 0;
}
.price p{
    background: var(--color-light);
    width: 100px;
    height: 30px;
    text-align: center;
    margin: auto 0;
    line-height: 30px;
}
/*
========================================
============== DYNAMISE JS =============
========================================
*/
.active{
    display: block !important;
}