/*
========================================
============ CONTAINER BUTTON ==========
========================================
*/
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.container-form{
    margin-top: 5rem;
}
button{
    width: 20% !important;
}
/*
========================================
============ CONTAINER REVIEW ==========
========================================
*/
.container-review{
    width: 90%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-review{
    width: 400px;
    height: 300px;
    margin: 1rem;
    background-color: var(--color-light-brown);
    position: relative;
}
.detail-review{
    width: 350px;
    height: 250px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
}
.text{
    padding: 1rem;
    height: 180px;
    text-align: justify;
    overflow: auto;
}
.signature{
    padding: 1rem;
    height: 50px;
    text-align: right;
}

/*
========================================
============== DYNAMISE JS =============
========================================
*/
.box{
    display: none;
}
.active{
    display: block;
}
