/*
========================================
============ CONTAINER BUTTON ==========
========================================
*/
.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.box{
    display: none;
}
.active{
    display: block;
}
.container-form{
    margin-top: 5rem;
}
/*
========================================
============ CONTAINER REVIEW ==========
========================================
*/
.container-review{
    width: 90%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.container-review .review{
    height: 300px;
    padding: 2rem;
    margin: 1rem;
    background-color: var(--color-light-brown);
}
.container-review .review .text{
    text-align: justify;
    overflow: auto;
    height: 200px;
    margin-bottom: 1rem;
}
.signature{
    height: 50px;
    text-align: right;
}
button{
    width: 20% !important;
}