{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Inscription{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ FLASHES =============== #}
    {# ======================================== #}

    <div class="login-anim">
        {% for message in app.flashes('success') %}
            <div class="flash successFlash">{{message}}</div>
        {% endfor %}
    </div>
    
    
    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Inscrivez-vous</h2>
        <p>Bienvenue parmis nous</p> 
    </section>

    {# ======================================== #}
    {# ============== INSCRIPTION ============= #}
    {# ======================================== #}

    <section class="container-form">
        
        {{ form(form) }}

    </section>

    <section class="message">
        <p> Vous avez un compte ?</p>
        <a href=" {{ path('app_security_log_in') }}">Connectez-vous</a>
    </section> 

{% endblock %}