{% extends "base.html.twig" %}

{% block title %}Livre : {{ currentBook.name }}{% endblock %}

{% block body %}

    <style>
        footer{
            display: none;
        }
        header::after{
            content: " ";
            position: absolute;
            z-index: 0;
            top: 10%;
            bottom: 10%;
            left: 10%;
            right: 10%;
            background: rgba(255, 255, 255, 0.4);
        }
        header{
            background: url('/assets/img/homepage/relaxation.jpg') no-repeat center center / cover;
        }
        header h1{
            font-family: 'Playfair Display', serif;
            text-transform: uppercase;
            text-align: center;
            color: #efece9;
            text-shadow:
                    1px 0 1px #d9ccbc,
                    0 1px 1px  #efece9,
                    2px 1px 1px #d9ccbc,
                    1px 2px 1px  #efece9,
                    3px 2px 1px #d9ccbc,
                    2px 3px 1px  #efece9,
                    4px 3px 1px #d9ccbc,
                    3px 4px 1px  #efece9,
                    5px 4px 1px #d9ccbc,
                    4px 5px 1px  #efece9,
                    6px 5px 1px #d9ccbc,
                    5px 6px 1px  #efece9,
                    7px 6px 1px #d9ccbc;
        }
        @media screen and (max-width: 800px){
            header::after{
                content: " ";
                position: absolute;
                z-index: 0;
                top: 10%;
                bottom: 10%;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.4);
            }
            .description{
                text-align: center !important;
            }
        }
    </style>

    <header data-jarallax data-speed=".8">

        <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0" style="z-index: 1; position:relative;">

            <div class="container mt-10 my-auto">

                <div class="row justify-content-center">

                    <div class="col-12 col-md-10 col-lg-8 text-center">

                        <div class="display-3 text-white mb-4">

                            <!-- Heading -->
                            <h1 class="display-5" style="color: #f9f9f9;">{{ currentBook.name }}</h1>

                            <!-- Subheading -->
                            <p class="font-default text-center mt-0 text-uppercase" style="font-size: 1.5rem; color: #f9f9f9;">
                                À
                                <span class="text-primary">{{ currentBook.price }}€</span>
                                au
                                <span class="text-primary">C&B</span>
                            </p>

                            <!-- Text -->
                            <p class="description my-5 text-start font-default" style="font-size: 1rem">
                                {{ currentBook.description}}
                            </p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </header>

{% endblock %}