/*
============================
====== SECTION BUTTON ======
============================
*/
.command-btn{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.command-btn button{
    width: 15rem !important;
    margin: 0 auto;
}
/*
============================
======= SECTION TABLE ======
============================
*/
.container-box{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box .box{
    display: none;
    width: 80%;
    flex-direction: column;
}
.box a{
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
table{
    margin: 3rem 0;
}
table th{
    padding: 2rem 0;
    text-align: center;
    background-color: var(--color-dark-brown);
    color: white;
}
table td, table th {
    border: 1px solid var(--color-light);
    padding: 1rem;
}
table tr:nth-child(even){
    background-color: var(--color-light-brown);
} 
table tr:hover {
    background-color: var(--color-light);
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}


.active{
    display: flex !important;
}
#addFood{
    width: 20rem;
}