.wrapper{
    display: flex;
    width: 90%;
    margin: 0 auto 3rem;
}
/*
============================
====== SECTION BUTTON ======
============================
*/
.command-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 630px;
    width: 20%;
}
.command-btn button{
    width: 15rem !important;
    margin: 1rem auto;
}
/*
============================
======= SECTION TABLE ======
============================
*/
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-box{
    width: 80%;
}
.container-box .heading{
    display: flex;
}
.container-box .heading h2{
    margin-right: 1rem;
}
.container-box .container-table{
    width: 80%;
    height: 400px;
}
.container-box .container-table table{
    width: 100%;
    text-align: center;
}
.container-box .container-table table th,
.container-box .container-table table td{
    padding: 1rem;
    border: 1px solid var(--color-light);
}
.container-box .container-table table th {
    background-color: var(--color-dark-brown);
    color: var(--color-light);
    text-align: center;
}
.container-box .container-table table th:first-child{
    width: 10%;
}
.container-box .container-table table th:last-child{
    width: 20%;   
}
.container-box .container-table table tr:nth-child(odd){
    background-color: var(--color-light);
}
.container-box .container-table table tr:nth-child(even){
    background-color: var(--color-light-brown);
}
.container-box .container-table table tr:hover {
    background-color: var(--color-grey);
}
.container-box .container-table table .actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-box button{
    margin: 3rem 0 0 !important;
}
/*
========================================
============== DYNAMISE JS =============
========================================
*/
.active{
    display: flex !important;
}
.box{
    display: none;
}
#addFood{
    width: 20rem;
}