.wrapper{
    display: flex;
    width: 100%;
    height: 650px;
    margin: 3rem auto;
}
.container-header,
footer{
    display: none !important;
}
/*
============================
====== SECTION BUTTON ======
============================
*/
.command-btn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20%;
    border-right: var(--color-dark) 1px solid;
}
.command-btn button{
    width: 15rem !important;
    margin: 1rem auto;
    background-color: transparent;
    justify-content: left;
}
.command-btn button p{
    margin-left: 1rem;
}
.command-btn .btn{
    color: grey !important;
    cursor: default !important;
    text-decoration: line-through;
}
/*
============================
======= CONTAINER BOX ======
============================
*/
.container-box{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    width: 70%;
    height: 400px;
    border-radius: 5px;
    background-color: var(--color-light);
}
.text-box{
    width: 60%;
}
.heading{
    margin: 2rem 0;
    padding: 1rem 0!important;
    text-align: center;
    background: var(--color-light-brown);
}
.heading h2{
    font-size: 1.5rem;
}
.detail-box{
    text-align: left;
    margin: 0 3rem;
}
.detail-box p:first-child{
    height: 150px;
    overflow-y: auto;
    margin-bottom: 1rem;
}
.detail-box p:nth-child(2),
.detail-box p:nth-child(3),
.detail-box p:nth-child(4){
    text-align: right;
}
.img-box{
    width: 400px;
    height: 400px;
}
.img-box p{
    line-height: 400px;
    text-align: center;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 3rem 1rem;
}