/*
==================================================
================= HIDE NAV FOOTER ================
==================================================
*/
.container-header,
footer{
    display: none !important;
}

/*
==================================================
===================== WRAPPER ====================
==================================================
*/
.wrapper{
    display: flex;
    width: 100%;
    height: 650px;
    margin: 3rem auto;
}

/*
==================================================
================= SECTION BUTTON =================
==================================================
*/
.command-btn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20%;
    border-right: var(--color-dark) 1px solid;
}
.command-btn button{
    width: 15rem !important;
    margin: 1rem auto;
    background-color: transparent;
    justify-content: left;
}
.command-btn button p{
    margin-left: 1rem;
}
.command-btn .btn{
    color: grey !important;
    cursor: default !important;
    text-decoration: line-through;
}
/*
==================================================
================== CONTAINER BOX =================
==================================================
*/
.container-event{
    width: 50%;
    height: 500px;
    margin: 0 auto 1.5rem;
}
.event{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: var(--color-dark-brown);
}
/*========== IMG ==========*/
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*========== TEXT ==========*/
.text-event{
    margin: 1rem;
    height: 180px;
    width: 400px;
    text-align: justify;
}
.detail-event{
    width: 90%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: var(--overlay-light);
}
.footer-event{
    width: 90%;
    text-align: right;
}
.detail-event .heading{
    padding: 1rem 0 !important;
}

/*========== BUTTON ==========*/
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button:first-child{
    width: 20rem !important;
}
.btn button{
    margin: 3rem 1rem;
}