{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}
{# ==================== STYLE ==================== #}

{% block stylesheets %}

    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/CSS/include/footer.css">
    <link rel="stylesheet" href="/assets/CSS/mini-reset.css">
    <link rel="stylesheet" href="/assets/CSS/variables.css"> 

{% endblock %}

{# ==================== FOOTER ==================== #}
{# ==================== FOOTER ==================== #}
{# ==================== FOOTER ==================== #}

<footer class="color-light">

    <section class="footer">

        {# ==================== SCHEDULE ==================== #}
        {# ==================== SCHEDULE ==================== #}
        {# ==================== SCHEDULE ==================== #}

        <article class="schedule">
            <h2 class="font-serif uppercase">Heure d'ouverture</h2>
            <div class="border">
                <p>Lundi : 08h30 à 16h30</p>
                <p>Mardi : Fermé</p>
                <p>Mercredi : 08h30 à 16h30</p>
                <p>Jeudi : 08h30 à 16h30</p>
                <p>Vendredi : 08h30 à 16h30</p>
                <p>Samedi : 14h00 à 14h00</p>
                <p>Dimanche : 14h00 à 14h00</p>
            </div>
        </article>

        {# ==================== LINK ==================== #}
        {# ==================== LINK ==================== #}
        {# ==================== LINK ==================== #}

        <article class="card-link">
            <h2 class="font-serif uppercase">Liens utiles</h2>
            <div class="border">

                <div class="link">
                    <p>Accueil</p>
                </div>

                <div class="link">
                    <p>À propos de nous</p>
                </div>

                <div class="link">
                    <p>Nous contacter</p>
                </div>

                <div class="link">
                    <p>La carte</p>
                </div>
                
            </div>
        </article>

        {# ==================== ABOUT US ==================== #}
        {# ==================== ABOUT US ==================== #}
        {# ==================== ABOUT US ==================== #}

        <article class="card-about-us">
            <h2 class="font-serif uppercase">À propos de nous</h2>

            <div class="about">
                <p>1607 avenue du pot au noir</p>
            </div>

            <div class="about">
                <p>06 24 16 26 23</p>
            </div>

            <div class="about">
                <p>CandBShop@mail.fr</p>
            </div>
        </article>

    </section>{# END SECTION FOOTER #}

</footer>

{# ========== COPYRIGHT ========== #}
{# ========== COPYRIGHT ========== #}
{# ========== COPYRIGHT ========== #}

<section class="copyright">
    <p class="color-light font-serif text-center">C&B SHOP <span id="copyright"></span> © Réalisée par CJ</p>
</section>

{# ==================== JAVASCRIPT ==================== #}
{# ==================== JAVASCRIPT ==================== #}
{# ==================== JAVASCRIPT ==================== #}

{% block javascript %}
    <script src="/assets/JS/include/footer.js"></script>
{% endblock %}