header{
    background: url('/assets/img/background/bg-header.jpg') no-repeat center center / cover;
}

header h1{
    font-family: var(--font-serif);
    text-transform: uppercase;
    color: var(--color-light-brown);
    text-shadow:
        1px 0px 1px var(--color-dark-brown), 
        0px 1px 1px var(--color-light-brown), 
        2px 1px 1px var(--color-dark-brown), 
        1px 2px 1px var(--color-light-brown), 
        3px 2px 1px var(--color-dark-brown), 
        2px 3px 1px var(--color-light-brown), 
        4px 3px 1px var(--color-dark-brown), 
        3px 4px 1px var(--color-light-brown), 
        5px 4px 1px var(--color-dark-brown), 
        4px 5px 1px var(--color-light-brown), 
        6px 5px 1px var(--color-dark-brown), 
        5px 6px 1px var(--color-light-brown), 
        7px 6px 1px var(--color-dark-brown);
}
header p{
    text-transform: uppercase;
    font-family: var(--font-serif);
}