/*
=============================
PARTIE CSS DU HEADER : .HEADER
=============================
*/
.header{
    background: url('/assets/img/background/bg-header.jpg') no-repeat center center / cover;
    min-width: 100%;
    min-height: 600px;
    position: relative;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 600px;
    z-index: 0;
    background: var(--overlay);
}
/*
=================================
PARTIE CSS DU HEADER : NAVIGATION
=================================
*/
nav{
    min-width: 100%;
    position: relative;
    z-index: 1;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navigation{
    text-align: right;
}
.navigation a{
    display: inline-block;
    margin-left: 2rem;
}
/*
=============================
PARTIE CSS DU HEADER : HEADER
=============================
*/
header{
    position: absolute;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
header h1{
    font-size: 4rem;
}