{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= STYLE ================ #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
    <link rel="stylesheet" href="assets/css/default/beans-coffee.css">
    <link rel="stylesheet" href="assets/map/map.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}


{% block title %}Nos grains de cafés{% endblock %}

{# ======================================== #}
{# ================== BODY ================ #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Voyez d'où viennent nos grains</h2>
        <p>Pour vous aider à choisir le meilleur pour votre café</p> 
    </section>

    {# ======================================== #}
    {# ================== MAP ================= #}
    {# ======================================== #}

    <div class="container-map">
        <div id="map"></div>
    </div>

    {# ======================================== #}
    {# ================ LEGEND ================ #}
    {# ======================================== #}

    <section class="container-legend">
        <div class="legend">
            <div class="color color-no-coffee"></div>
            <p>Pays qui ne cultive pas le café</p>
        </div>
        <div class="legend">
            <div class="color color-coffee"></div>
            <p>Pays qui cultive le café</p>
        </div>
        <div class="legend">
            <div class="color color-coffee"></div>
            <p>Grain de café que nous proposons</p>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
     <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
     <script src="assets/map/map.js"></script>
{% endblock %}