{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================ STYLE ================= #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/default/home-page.css">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Accueil{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}
    
    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Bienvenue sur C&B</h2>
        <p>Le bistro qui vous livre un moment de détente</p> 
    </section>

    {# ======================================== #}
    {# ============ CONTAINER CARD ============ #}
    {# ======================================== #}

    <section class="container-card">

        <div class="card">
            <img src="assets/img/homepage/rustic.jpg" alt="Photo d'un café rustique">
            <div class="card-text">
                <h2> <span>01.</span> Café rustique </h2>
                <p>
                    Un bistro à l’ambiance rustique.
                    Un café fraîchement moulu.
                    Une torréfaction parfaite.
                    Les meilleurs arômes avec des grains venus du monde entier.
                </p>
            </div>
        </div>

        {# ===================================================== #}

        <div class="card">
            <img src="assets/img/homepage/gourmet.jpg" alt="Photo d'un café avec des douceurs">
            <h2> <span>02.</span> Café gourmand </h2>
            <p>
                On parle des cafés ou des douceurs?
                Quoi qu’il en soit, nous vous offrons le meilleur en terme de qualité.
            </p>
        </div>

        {# ==================================================== #}

        <div class="card">
            <img src="assets/img/homepage/relaxation.jpg" alt="Photo d'un café avec un livre">
            <h2> <span>03.</span> Café détente </h2>
            <p>
                Vous trouverez chez C&B la possibilité d’emprunter un livre en guise d’accompagnement avec votre café pour vous offrir un réel moment de détente.
            </p>
        </div>

    </section>{# END .CONTAINER-CARD #}

    {# ========================================================= #}
    {# ==================== PARALLAX EFFECT ==================== #}
    {# ========================================================= #}

    <section class="parallax">
        <div class="text-parallax">
            <h2>
                Ayez le choix, <br>
                <span>jusqu'au bout de vos grains!</span> 
            </h2>
            <p>
                 Choissisez le grain qui vous convient.
            </p>
            <div class="container-btn">
                <button>
                    <a href="{{ path('app_default_coffee_beans') }}">
                        <img src="assets/img/icons/beans-btn.png" alt="">
                        Voir nos grains
                    </a>
                </button>
                <button>
                    <a href="{{ path('app_default_menu') }}">
                        <img src="assets/img/icons/beans-btn.png" alt="">
                        Voir la carte
                    </a>
                </button>
            </div>
        </div>
            
    </section>{# END .PARRALLAX #}


    {# ====================================================== #}
    {# ==================== PRESENTATION ==================== #}
    {# ====================================================== #}

    <section class="container-presentation">

        <div class="text-presentation">
            <h2>Vous avez un grain décalé ? <br> Nous aussi!</h2>
            <p>
                COFFEE AND BOOK SHOP est le premier bistro qui vous sert cafés, viennoiseries et livres pour vous garantir un véritable moment d’évasion, que ce soit sur place ou à emporter. Chacun de nous a droit à un moment de répit dans son monde et nous voulons vous aider, à travers saveurs venues du monde entier et imagination, à vous transporter.
            </p>
            <button>
                <a href="{{ path('app_default_review') }}">
                Voir les avis
                </a>
            </button>
        </div>
        <div class="img-presentation">
            <img src="assets/img/homepage/presentation.jpg" alt="">
        </div>

    </section>{# END .PRESENTATION #}

    {# ================================================= #}
    {# ==================== CONTACT ==================== #}
    {# ================================================= #}
        
        
    <section class="container-contact">

        {# =================================================== #}
        {# ==================== PERSONNEL ==================== #}
        {# =================================================== #}

        <section id="personnel">
            <section class="heading">
                <p>What's happening here?</p>
                <h2>Le c&b shop c'est qui?</h2>
                <p>voici une courte présentation de notre équipe</p>
            </section>

            <div class="container-personnel">
                <div class="card card1">
                    <img src="assets/img/homepage/alexis.jpg"/>
                    <h3>Alexis</h3>
                    <div class="focus-content">
                        <p>Alexis est notre barista, c’est un vrai sommelier du café, il maitrise la technique du LATTE ART depuis 2013</p>
                    </div>
                </div>
                <div class="card card2">
                    <img src="assets/img/homepage/olga.jpg"/>
                    <h3>Olga</h3>
                    <div class="focus-content">
                        <p>Olga est une passionnée de livre depuis son plus jeune âge, elle décide d’ouvrir le Coffee and Book en 2016. En plus d’être la gérante, elle fait également le service pour préserver une relation employés-clients unique</p>
                    </div>
                </div>
                <div class="card card3">
                    <img src="assets/img/homepage/nicolas.jpg"/>
                    <h3>Nicolas</h3>
                    <div class="focus-content">
                        <p>Boulanger depuis 2016, il est élu meilleur apprenti de France en 2014 pendant ses études grâce à son fameux pain au chocolat aux amendes, qui fait partie de la carte.</p>
                    </div>
                </div>
            </div>

            <button id="contact" class="btn-center">
                <a href="mailto:CandBShop@mail.fr">
                    Nous contacter
                </a>
            </button>
        </section>{# END CONTAINER-PERSONNEL #}
        
    </section>{# END CONTAINER-CONTACT #}

{% endblock %}