/*
====================
STYLE MAIN COMPONENT
====================
*/
body{
    font-size: 15px;
    font-family: var(--font-default);
    color: var(--color-dark);
    background-color: var(--color-grey);
    overflow-x: hidden;
}
button{
    width: 15rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brown-dark);
    color: var(--color-dark);
    font-family: var(--font-serif);
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-center{
    margin: 3rem auto;
}
.btn-large{
    width: 20rem;
}
a{
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
}
/*
==================================
STYLE MAIN COMPONENT : FONT-FAMILY
==================================
*/
.font-serif{
    font-family: var(--font-serif);
}
.font-sans-serif{
    font-family: var(--font-sans-serif);
}
.font-default{
    font-family: var(--font-default);
}

/*
============================
STYLE MAIN COMPONENT : COLOR
============================
*/
.color-dark{
    color: var(--color-dark);
}
.color-grey{
    color: var(--color-grey);
}
.color-light{
    color: var(--color-light);
}
.color-red{
    color: var(--color-red);
}
.color-brown-light{
    color: var(--color-brown-light);
}
.color-brown-dark{
    color: var(--color-brown-dark);
}

/*
================================
STYLE MAIN COMPONENT : IMG/ICONS
================================
*/
button a img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
a img{
    width: 30px;
    height: 30px;
}
/*
===========================
STYLE MAIN COMPONENT : TEXT
===========================
*/
.uppercase{
    text-transform: uppercase;
}
.text-center{
    text-align: center;
}