/*
========================================
================ BODY ==================
========================================
*/
body{
    font-size: 16px;
    font-family: var(--font-default);
    color: var(--color-dark);
    background-color: var(--color-grey);
    overflow-x: hidden;
}
/*
========================================
=============== BUTTON =================
========================================
*/
button{
    width: 25rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-brown);
    color: var(--color-dark);
    font-family: var(--font-serif);
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn-center{
    margin: 3rem auto;
}

button a img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
/*
========================================
=============== LIENS ==================
========================================
*/
a{
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
}

a img{
    width: 30px;
    height: 30px;
}
/*
========================================
=============== HEADING ================
========================================
*/
.heading{
    padding: 3rem 0;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-serif);
}
.heading p:first-child{
    color: var(--color-dark-brown);
}
.heading p:last-child{
    color: var(--color-red);
}
.heading a{
    justify-content: center;
    align-items: center;
    color: var(--color-red);
    cursor: pointer;
}
.heading a:hover{
    text-decoration: underline;
}
/*
========================================
============= FORMULAIRE ===============
========================================
*/
.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-form form{
    width: 50%;
}
.container-form label{
    display: block;
}
.container-form input,
.container-form textarea{
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    resize: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.container-form input[type='file']{
    padding: 1rem 0 !important;
}
.container-form textarea{
    height: 150px;
}
.container-form button{
    margin: 1rem auto 3rem !important;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3rem;
}
.message a{
    cursor: pointer;
    margin-left: 5px;
}
.message a:hover{
    text-decoration: underline;
}
/*
========================================
================== ELSE ================
========================================
*/
.else{
    text-align:center;
}
/*
========================================
================ FLASHES ===============
========================================
*/
.flash{
    margin: 0 auto;
    width: 100%;
    border: none;
	padding: 15px 40px;
    border-radius: 0 0 5px 5px;
    font-family: var(--font-serif);
    text-transform: uppercase;
    position: relative;
    z-index: -2;
    transform: translateY(-50px);
    animation: apparition 0.5s 0.7s ease-out forwards;
}
@keyframes apparition {
    100%{
      transform: none;
    }
}
.successFlash{
    background: #27AE60;
    color: var(--color-light);
}
.warningFlash{
    background-color: #F4D03F;
    color: var(--color-light);
}
.errorFlash{
    background-color: #E74C3C;
    color: var(--color-light);
}