/*
====================
STYLE MAIN COMPONENT
====================
*/
body{
    font-size: 16px;
    font-family: var(--font-default);
    color: var(--color-dark);
    background-color: var(--color-grey);
    overflow-x: hidden;
}
button{
    width: 25rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-brown);
    color: var(--color-dark);
    font-family: var(--font-serif);
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-center{
    margin: 3rem auto;
}

button a img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

a{
    text-decoration: none;
    color: var(--color-dark);
    display: flex;
}

a img{
    width: 30px;
    height: 30px;
}
/* ============================= */
/* ========== HEADING ========== */
/* ============================= */
.heading{
    padding: 3rem 0;
    text-transform: uppercase;
    text-align: center;
    font-family: var(--font-serif);
}
.heading p:first-child{
    color: var(--color-dark-brown);
}
.heading p:last-child{
    color: var(--color-red);
}