/*
========================================
============== VARIABLES ===============
========================================
*/

:root{
    /* FONT */
    --font-serif: 'Playfair Display', serif;
    --font-sans-serif: Arial, Helvetica, sans-serif;
    --font-default: 'Lato', sans-serif;

    /* COLOR */
    --color-dark: #2d2d2d;
    --color-light: #f9f9f9;
    --color-grey: #f3f3f3;
    --color-dark-brown: #d9ccbc;
    --color-light-brown: #efece9;
    --color-red: #ab3e2a;
    --color-green: #27AE60;
    --color-light-red: #E74C3C;
    --color-yellow:  #F4D03F;

    /* OPACITY FOR OVERLAY */
    --overlay: rgba(0, 0, 0, 0.3);
    --overlay-light: rgba(255, 255, 255, 0.7);

}

/* --- font --- */
.font-serif{
    font-family: var(--font-serif);
}.font-sans-serif{
    font-family: var(--font-sans-serif);
}.font-default{
    font-family: var(--font-default);
}

/* --- color --- */
 .color-dark{
     color: var(--color-dark);
 } .color-light{
     color: var(--color-light);
 } .color-grey{
     color: var(--color-grey);
 } .color-dark-brown{
     color: var(--color-dark-brown);
 } .color-light-brown{
     color: var(--color-light-brown);
 } .color-red{
     color: var(--color-red);
 } .color-green{
     color: var(--color-green);
 } .color-light-red{
     color: var(--color-light-red);
 } .color-yellow{
     color: var(--color-yellow);
 }

   /*--- text ---*/
.uppercase{
    text-transform: uppercase;
}