/*
========================================
================= MAP ==================
========================================
*/
.container-map{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#map {
    width: 100%;
    height: 800px; 
    background: #f3f3f3;
}

