/*
============================
====== SECTION BUTTON ======
============================
*/
.command-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.command-btn button{
    margin: 0 1rem;
}
/*
========================================
============= INFORMATION ==============
========================================
*/
.container-information{
    width: 100%;
    margin-top: 3rem;
}
.container-information .information{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.container-information .information .info{
    display: flex;
    width: 100%;
}
.container-information .information .info p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--color-light-brown);
    border: 1px solid var(--color-light);
}
h2{
    text-align: center;
    font-family: 2rem;
    font-family: var(--font-serif);
}
/*
========================================
================= TABLE ================
========================================
*/
table {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 3rem auto;
    display: table;
}
table th,
table td{
    padding: 1rem;
    border: 1px solid var(--color-light);
}
table th {
    background-color: var(--color-dark-brown);
    color: var(--color-light);
    text-align: center;
}
table tr:nth-child(odd){
    background-color: var(--color-light);
}
table tr:nth-child(even){
    background-color: var(--color-light-brown);
}
table tr:hover {
    background-color: var(--color-grey);
}
.actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
========================================
============== DYNAMISE JS =============
========================================
*/
.box{
    margin: 3rem 0;
    display: none;
}
.active{
    display: block !important;
}