/*
==================================================
================= HIDE NAV FOOTER ================
==================================================
*/
.container-header,
footer{
    display: none !important;
}

/*
==================================================
===================== WRAPPER ====================
==================================================
*/
.wrapper{
    display: flex;
    width: 100%;
    height: 1000px;
    margin: 3rem auto;
}

/*
==================================================
================= SECTION BUTTON =================
==================================================
*/
.command-btn{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 20%;
    border-right: var(--color-dark) 1px solid;
}
.command-btn button{
    width: 15rem !important;
    margin: 1rem auto;
    background-color: transparent;
    justify-content: left;
}
.command-btn button p{
    margin-left: 1rem;
}

/*
==================================================
================== CONTAINER BOX =================
==================================================
*/
.container-box{
    width: 80%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
==================================================
=================== INFORMATION ==================
==================================================
*/
.container-information{
    width: 100%;
    margin-top: 3rem;
}
.information{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.info{
    display: flex;
    width: 100%;
}
.info p{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--color-light-brown);
    border: 1px solid var(--color-light);
}
.container-information button{
    width: 20rem !important;
}
h2{
    text-align: center;
    font-family: var(--font-serif);
}

/*
==================================================
====================== TABLE =====================
==================================================
*/
.container-table{
    width: 80%;
    margin: 3rem auto;
}
table{
    width: 100%;
    text-align: center;
}
table th,
table td{
    padding: 1rem;
    border: 1px solid var(--color-light);
}
table th {
    background-color: var(--color-dark-brown);
    color: var(--color-light);
    text-align: center;
}
table th{
    width: 20%;
}
table th:first-child{
    width: 40%;
}
table tr:nth-child(odd){
    background-color: var(--color-light);
}
table tr:nth-child(even){
    background-color: var(--color-light-brown);
}
table tr:hover {
    background-color: var(--color-grey);
}
table .actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
table .status,
table a{
    justify-content: center !important;
}
.event-name{
    cursor: pointer;
}
.event-name a:hover{
    text-decoration: underline;
}
/*
==================================================
=================== DYNAMISE JS ==================
==================================================
*/
.box{
    margin: 1rem 0;
    display: none;
}
.active{
    display: block !important;
}