{% extends "base.html.twig" %}

{% block title %}Modifier {{ book.name }}{% endblock %}

{% block body %}

    <style>
        footer{
            display: none;
        }
        header h1{
            font-family: var(--font-serif);
            text-transform: uppercase;
            font-size: 5rem;
            text-align: center;
            color: var(--color-light-brown);
            text-shadow:
                    1px 0 1px var(--color-dark-brown),
                    0 1px 1px var(--color-light-brown),
                    2px 1px 1px var(--color-dark-brown),
                    1px 2px 1px var(--color-light-brown),
                    3px 2px 1px var(--color-dark-brown),
                    2px 3px 1px var(--color-light-brown),
                    4px 3px 1px var(--color-dark-brown),
                    3px 4px 1px var(--color-light-brown),
                    5px 4px 1px var(--color-dark-brown),
                    4px 5px 1px var(--color-light-brown),
                    6px 5px 1px var(--color-dark-brown),
                    5px 6px 1px var(--color-light-brown),
                    7px 6px 1px var(--color-dark-brown);
        }
        .help-text{
            font-size: 1rem;
            text-align: left;
        }
        textarea{
            height: 100px;
            resize: none;
        }
    </style>

    {% if book.img != true %}
        <header data-jarallax data-speed=".8" style="background: url('/assets/img/background/bg-header.jpg') no-repeat center center / cover;">
        {% else %}
            <header data-jarallax data-speed=".8" style="background: url('/uploads/{{ book.img }}') no-repeat center center / cover;">
    {% endif %}


        <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">

            <div class="container my-auto">

                <div class="row justify-content-center">

                    <div class="col-12 col-md-10 col-lg-8 text-center">

                        <div class="display-3 text-white mb-4">

                            <div class="col-md-12">

                                <h1 class="color-light display-3">Modifier {{ book.name }}</h1>

                                {{ form(form) }}

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </header>

{% endblock %}