{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Modifier l'évènement{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ HEADING =============== #}
    {# ======================================== #}

    <section class="heading">
        <p>What's happening here?</p>
        <h2>Modifier l'évènement suivant : {{event.name }}</h2>
        <a href="{{ path('app_admin_dashboard') }}">Retour</a>
    </section>

    {# ======================================== #}
    {# ================== FOOD ================ #}
    {# ======================================== #}

    <section class="section-form">
    
        {# FORMULAIRE #}
        <div class="container-form">

            {{ form(form) }}

        </div>

    </section>

    
{% endblock %}