{% extends "base.html.twig" %}

{% block title %}Modifier {{ food.name }}{% endblock %}

{% block body %}

    <style>
        footer{
            display: none;
        }
        header{
            background: url('/assets/img/homepage/gourmet.jpg') no-repeat center center / cover;
        }
        header h1{
            font-family: 'Playfair Display', serif;
            text-transform: uppercase;
            text-align: center;
            color: #efece9;
            text-shadow:
                    1px 0 1px #d9ccbc,
                    0 1px 1px  #efece9,
                    2px 1px 1px #d9ccbc,
                    1px 2px 1px  #efece9,
                    3px 2px 1px #d9ccbc,
                    2px 3px 1px  #efece9,
                    4px 3px 1px #d9ccbc,
                    3px 4px 1px  #efece9,
                    5px 4px 1px #d9ccbc,
                    4px 5px 1px  #efece9,
                    6px 5px 1px #d9ccbc,
                    5px 6px 1px  #efece9,
                    7px 6px 1px #d9ccbc;
        }
        .help-text{
            font-size: 1rem;
            text-align: left;
        }
        ul li{
            font-size: 1rem;
            text-align: left;
        }
        textarea{
            height: 100px;
            resize: none;
        }
        @media screen and (max-width: 320px){
            header h1{
                font-size: 2.5rem !important;
            }
        }
    </style>

  <header data-jarallax data-speed=".8">

    <div class="d-flex flex-column min-vh-100 bg-black-50 pt-10 pt-md-8 pb-7 pb-md-0">

        <div class="container my-auto">

            <div class="row justify-content-center">

                <div class="col-12 col-md-10 col-lg-8 text-center">

                    <div class="display-3 text-white mb-4">

                        <div class="col-md-12">

                            <h1 class="display-3" style="color: #f9f9f9;">Modifier {{ food.name }}</h1>

                            {{ form(form) }}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    </header>

{% endblock %}