{# ======================================== #}
{# ================ EXTENDS =============== #}
{# ======================================== #}

{% extends "base.html.twig" %}

{# ======================================== #}
{# ================== STYLE =============== #}
{# ======================================== #}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/form.css') }}">
{% endblock %}

{# ======================================== #}
{# ================= TITLE ================ #}
{# ======================================== #}

{% block title %}Ajouter un livre{% endblock %}

{# ======================================== #}
{# ================= BODY ================= #}
{# ======================================== #}

{% block body %}

    {# ======================================== #}
    {# ================ WRAPPER =============== #}
    {# ======================================== #}

    <main class="wrapper">

        <img src="{{ asset('assets/img/form/book.jpg') }}" alt="image de livre">

        {# ======================================== #}
        {# ============== SECTION FORM ============ #}
        {# ======================================== #}
        <section class="section-form">

            {# ======================================== #}
            {# ================ HEADING =============== #}
            {# ======================================== #}

            <section class="heading">
                <h2>Ajouter un nouveau livre</h2>
                <a href="{{ path('app_admin_dashboard') }}">Retour</a>
            </section>

            {# ======================================== #}
            {# ================== BOOK ================ #}
            {# ======================================== #}
            <div class="container-form">

                {# FORMULAIRE #}
                <div class="form">
                    {{ form(form) }}
                </div>

            </div>

        </section>

    </main>

    
{% endblock %}